
InsurgencySandstormRcon/Resources/RconServers.json
InsurgencySandstormRcon/obj/Debug
InsurgencySandstormRcon/conn.cs
*.pdb
*.exe
InsurgencySandstormRcon/bin/Debug/InsurgencySandstormRcon.exe.config
*.dll
InsurgencySandstormRcon/bin/Debug/Newtonsoft.Json.xml
InsurgencySandstormRcon/.vs
InsurgencySandstormRcon/packages
InsurgencySandstormRcon/UpgradeLog.htm
packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
packages/Newtonsoft.Json.12.0.2/LICENSE.md
packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/.signature.p7s
.vs/InsurgencySandstormRcon/v15/.suo
.vs/InsurgencySandstormRcon/v15/Server/sqlite3/db.lock
.vs/InsurgencySandstormRcon/v15/Server/sqlite3/storage.ide
.vs/InsurgencySandstormRcon/v15/Server/sqlite3/storage.ide-shm
.vs/InsurgencySandstormRcon/v15/Server/sqlite3/storage.ide-wal
*.zip
InsurgencySandstormRcon/bin/Release/InsurgencySandstormRcon.exe.config
InsurgencySandstormRcon/bin/Release/Newtonsoft.Json.xml
InsurgencySandstormRcon/CoryBorrow_Signing_Key.pfx
InsurgencySandstormRcon/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.BanListDialog.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.csproj.CopyComplete
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.csproj.CoreCompileInputs.cache
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.csproj.FileListAbsolute.txt
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.csproj.GenerateResource.cache
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.csprojAssemblyReference.cache
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.Dialogs.BanPlayersDialog.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.Dialogs.KickPlayersDialog.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.Dialogs.ScenarioListDialog.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.Form1.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.MapListDialog.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.Properties.Resources.resources
InsurgencySandstormRcon/obj/Release/InsurgencySandstormRcon.ServerManagmentDialog.resources
InsurgencySandstormRcon/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InsurgencySandstormRcon/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InsurgencySandstormRcon/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
